* {
  max-width: 1360px;
  margin: auto;
  padding: 0;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  position: absolute;
  z-index: -3;
}

#logo-vitsea {
  position: absolute;
  z-index: 0;
  margin-left: 116px;
  margin-top: 45px;
}

header nav {
  float: right;
  margin-top: 65px;
  margin-right: 108px;
  margin-left: 300px;
}

header nav li {
  display: flex;
  justify-content: space-around;
  position: relative;
  float: left;
  list-style: none;
}

header nav li a {
  font-size: 24px;
  text-decoration: none;
  padding: 0 20px;
  color: white;
}

header nav li a:hover {
  color: #46afa3;
}

.Terms-of-Use-Privacy-Policy-Site-Map {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 213.384px;
  top: 3455.494px;
  z-index: 193;
}

.©-2018-vitsea-all-rights-reserved {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 212.937px;
  top: 3425.494px;
  z-index: 192;
}

#do-you-need-vitamin-sea {
  font-size: 250%;
  font-family: "Myriad Pro";
  color: rgb(254, 254, 254);
  text-align: center;
  position: absolute;
  left: 322px;
  top: 180px;
  z-index: 1;
}

.about-us {
  position: absolute;
  font-size: 250%;
  font-family: "Myriad Pro";
  color: rgb(0, 166, 128);
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  top: 840px;
  z-index: 110;
}

#main-sea-img {

  top: 940px;
}

#info {
  
  font-size: 30%;
  color: rgb(0, 166, 128);
  align-items: flex-end;
  justify-content: flex-end;
  left: 724px;
  top: 940px;
}
