* {
	margin: 0;
	padding: 0;
	
font-family: myriad-pro, sans-serif;
font-style: normal;
font-weight: 300;
}

html,body {
	width: 100%;
	height: 100%;
}
img{
position:absolute;
z-index:-3;
}
#logo-vitsea{
position:absolute;
z-index:0;
margin-left:116px;
margin-top:45px;
}
nav {

	float: right;
	margin-top: 65px;
	margin-right: 108px;
}

nav li {
  position:relative;
	float:left;
	list-style: none;
}
nav li a {
  
	font-size: 24px;
	text-decoration: none;
	padding: 0 20px ;
	
	color: white;
}

nav li a:hover {
	color: #46afa3;
}
.Terms_of_Use___Privacy_Policy___Site_Map {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 213.384px;
  top: 3455.494px;
  z-index: 193;
}
.©_2018_VitSea_All_rights_reserved__ {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 212.937px;
  top: 3425.494px;
  z-index: 192;
}
#Do_you_need_Vitamin_Sea {
  font-size: 380%;
  font-family: "Myriad Pro";
  color: rgb(254, 254, 254);
  text-align: center;
  position: absolute;
  left: 322px;
  top: 180px;
  z-index: 1;
}
#About_Us {
  position: absolute;
  font-size: 380%;
  font-family: "Myriad Pro";
  color: rgb(0, 166, 128);
  line-height: 1.2;
  text-align: center;
  left: 724px;
  top: 840px;
  z-index: 110;
}
#main-sea-img{

  top: 940px;
}
#info{
  position: absolute;
  padding: 900px 130px 0px 724px;
  font-size: 100%;
  font-family: "Myriad Pro";
  float:right;
  top: 1000px;
  z-index: 110;
}